<div class="bg-white border mt-2">
    <div>
        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45">
                <div class="d-flex flex-column flex-wrap ml-2">
                  <span class="font-weight-bold" style="padding-left: 5px;">
                      <%= @user.email %>
                  </span>
                  <span class="text-black-50 time" style="padding-left: 5px;">This is a filler for their username</span>
                </div>
            </div>
            <div class="feed-icon px-2">
              <% if current_user == @user %>
                <%= link_to 'Edit Bio', edit_user_registration_path(current_user), class: 'btn btn-primary w-100'%>
              <% elsif current_user.friends.include?(@user) %>
                <%= button_to "Remove Friend",
                          user_friendship_path(@user.id, current_user.id),
                          method: :delete,
                          params: { friendship: { user_id: current_user.id, friend_id: @user.id }},
                          class: "btn btn-danger w-100" 
                %>
              <% else %>
                <%= button_to 'Add Friend', user_friend_requests_path(@user.id), 
                                          params: { friend_request: {sender_id: current_user.id ,
                                          receiver_id: @user.id}}, 
                                          class: "btn btn-primary w-100" 
                %>
              <% end %>
              <i class="fa fa-ellipsis-v text-black-50"></i>
            </div>
        </div>
    </div>
    <div class="feed-image p-2 px-3">
        This is a biography.  It contains information about you
        
    </div>
    <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
</div>