<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light px-5 bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <%= link_to 'FarCeBook', root_url, class: 'navbar-brand', :html =>{:style => "font-weight:900"}%>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <%= link_to 'Home', root_url, class: 'nav-link'%>
        </li>
        <li class="nav-item">
           <%= link_to 'Profile', user_path(current_user), :class => "nav-link", user: current_user %> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-5 bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-info fs-4 fw-bold" href="/">Facebook Clone</a>
    </div>
  </nav>
<% end %>