<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <% @posts.each do |post|%>
                    <%= render 'post', post: post%>
                <% end %>
            </div> 
        </div> 
    </div>
</div>